@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;600&display=swap');

$fs-s: 16px;
$fs-m: 24px;
$fs-l: 30px;
$fs-xl: 40px;
$fs-xxl: 50px;
$fs-xxxl: 60px;

$radius: 10px;
$primary-font: 'Barlow', sans-serif;
$radius: 20px;


$orange: #FF7A00;
$dark-gray: rgb(12, 12, 12);
$gradient: linear-gradient(230deg, rgba(46, 217, 255, 0),rgb(26, 18, 171) ,$orange);
